.usage-analysis {
  .filter-row {
    margin-bottom: 24px;
  }
  
  .ant-card {
    height: 100%;
  }
  
  .chart-container {
    height: 400px;
    margin-top: 16px;
  }
  
  .usage-details {
    margin-top: 24px;
  }
} 